<div class="container">
  <div class="py-3 pt-5 text-left text_underline">
    <i class="icon fa fa-user"></i>
    <h2>{{'Usuarios' | translate }} | {{ title  | translate }}</h2>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-1">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!--Perfil del Usuario-->
        <input name="usuarioid" formControlName="usuarioid" type="text" class="form-control" id="usuarioid" hidden>
        <div class="col-md-6 mb-3 mt-3">
          <label for="perfil">{{'Perfil' | translate }}</label>
          <select name="perfil" formControlName="perfil" [ngClass]="{ 'is-invalid': submitted && f.perfil.errors }"
            class="custom-select d-block w-100" id="perfil" required>
            <option value="">---{{'Seleccione' | translate }}---</option>
            <option *ngFor="let p of perfiles" [value]="p.nombre">
              {{p.nombre | translate }}
            </option>
          </select>
          <div *ngIf="submitted && f['perfil'].errors" class="invalid-feedback">
            <div *ngIf="f['perfil'].errors?.required">{{'Por favor seleccione un perfil' | translate }}.</div>
          </div>
        </div>
        <!--Pais del Usuario-->
        <div class="col-md-6 mb-3 mt-3">
          <label for="pais">{{'País' | translate }}</label>
          <select name="pais" formControlName="pais" [ngClass]="{ 'is-invalid': submitted && f.pais.errors }"
            class="custom-select d-block w-100" id="pais" required>
            <option value="">---{{'Seleccione' | translate }}---</option>
            <option *ngFor="let p of paises" [value]="p.nombre">
              {{p.nombre | translate }}
            </option>
          </select>
          <div *ngIf="submitted && f['pais'].errors" class="invalid-feedback">
            <div *ngIf="f['pais'].errors?.required">{{'Por favor seleccione un país' | translate }}.</div>
          </div>
        </div>
        <!--Empresa del Usuario-->
        <div class="col-md-6 mb-3 mt-3">
          <label for="empresa">{{'Empresa' | translate }}</label>
          <input name="empresa" formControlName="empresa" type="text" class="form-control" id="empresa"
            [ngClass]="{ 'is-invalid': (registerForm.get('empresa').dirty || registerForm.get('empresa').touched || submitted) && f.empresa.errors }"
            placeholder="" value="" required>
          <div
            *ngIf="(registerForm.get('empresa').dirty || registerForm.get('empresa').touched || submitted) && f['empresa'].errors"
            class="invalid-feedback">
            <div *ngIf="f['empresa'].errors?.required">{{'La empresa es obligatoria' | translate }}.</div>
          </div>
        </div>
        <!--Nombre del Usuario-->
        <div class="col-md-6 mb-3 mt-3">
          <label for="nombre">{{'Nombre' | translate }}</label>
          <input name="nombre" formControlName="nombre" type="text" class="form-control" id="nombre"
            [ngClass]="{ 'is-invalid': (registerForm.get('nombre').dirty || registerForm.get('nombre').touched || submitted) && f.nombre.errors }"
            placeholder="" value="" required>
          <div
            *ngIf="(registerForm.get('nombre').dirty || registerForm.get('nombre').touched || submitted) && f['nombre'].errors"
            class="invalid-feedback">
            <div *ngIf="f['nombre'].errors?.required">{{'El nombre es obligatorio' | translate }}.</div>
          </div>
        </div>
        <!--Apellido Paterno del Usuario-->
        <div class="col-md-6 mb-3 mt-3">
          <label for="apellidoPatUsu">{{'Apellido Paterno' | translate }}</label>
          <input name="apellidoPatUsu" formControlName="apellidoPatUsu" type="text" class="form-control"
            id="apellidoPatUsu"
            [ngClass]="{ 'is-invalid': (registerForm.get('apellidoPatUsu').dirty || registerForm.get('apellidoPatUsu').touched || submitted) && f.apellidoPatUsu.errors }"
            placeholder="" value="" required>
          <div
            *ngIf="(registerForm.get('apellidoPatUsu').dirty || registerForm.get('apellidoPatUsu').touched || submitted) && f['apellidoPatUsu'].errors"
            class="invalid-feedback">
            <div *ngIf="f['apellidoPatUsu'].errors?.required">{{'El Apellido Paterno es obligatorio' | translate }}.</div>
          </div>
        </div>
        <!--Apellido Materno del Usuario-->
        <div class="col-md-6 mb-3 mt-3">
          <label for="apellidoMatUsu">{{'Apellido Materno' | translate }}</label>
          <input name="apellidoMatUsu" formControlName="apellidoMatUsu" type="text" class="form-control"
            id="apellidoMatUsu"
            [ngClass]="{ 'is-invalid': (registerForm.get('apellidoMatUsu').dirty || registerForm.get('apellidoMatUsu').touched || submitted) && f.apellidoMatUsu.errors }"
            placeholder="" value="" required>
          <div
            *ngIf="(registerForm.get('apellidoMatUsu').dirty || registerForm.get('apellidoMatUsu').touched || submitted) && f['apellidoMatUsu'].errors"
            class="invalid-feedback">
            <div *ngIf="f['apellidoMatUsu'].errors?.required">{{'El Apellido Materno es obligatorio' | translate }}.</div>
          </div>
        </div>
        <!--Email-->
        <div class="col-md-6 mb-3 mt-3">
          <label for="email">{{'Email' | translate }}</label>
          <input name="email" formControlName="email" type="text" class="form-control" id="email"
            [ngClass]="{ 'is-invalid': (registerForm.get('email').dirty || registerForm.get('email').touched || submitted) && f.email.errors }"
            placeholder="" value="" required>
          <div
            *ngIf="(registerForm.get('email').dirty || registerForm.get('email').touched || submitted) && f['email'].errors"
            class="invalid-feedback">
            <div *ngIf="f['email'].errors?.required">{{'El correo es obligatorio' | translate }}.</div>
            <div *ngIf="f['email'].errors?.email">{{'El correo debe ser un correo válido' | translate }}.</div>
            <div *ngIf="f['email'].errors?.emailExist">{{'El correo ingresado ya se encuentra registrado, por favor ingrese
              otro correo' | translate }}.</div>
          </div>
        </div>
        <!--Tipo Documento-->
        <div class="col-md-6 mb-3 mt-3">
          <label for="tipoDocumento">{{'Tipo Documento' | translate }}</label>
          <select name="tipoDocumento" formControlName="tipoDocumento"
            [ngClass]="{ 'is-invalid': submitted && f.tipoDocumento.errors }" class="custom-select d-block w-100"
            id="tipoDocumento" required>
            <option value="">---{{'Seleccione' | translate }}---</option>
            <option *ngFor="let t of tipodocumentos" [value]="t.nombre">
              {{t.nombre | translate }}
            </option>
          </select>
          <div *ngIf="submitted && f['tipoDocumento'].errors" class="invalid-feedback">
            <div *ngIf="f['tipoDocumento'].errors?.required">{{'Por favor seleccione un tipo de documento' | translate }}.</div>
          </div>
        </div>
        <!--Nro Documento-->
        <div class="col-md-6 mb-3 mt-3">
          <label for="nroDocumento">N° {{'Documento' | translate }}</label>
          <input name="nroDocumento" formControlName="nroDocumento" type="text" class="form-control" id="nroDocumento"
            [ngClass]="{ 'is-invalid': (registerForm.get('nroDocumento').dirty || registerForm.get('nroDocumento').touched || submitted) && f.nroDocumento.errors }"
            placeholder="" value="" required>
          <div
            *ngIf="(registerForm.get('nroDocumento').dirty || registerForm.get('nroDocumento').touched || submitted) && f['nroDocumento'].errors"
            class="invalid-feedback">
            <div *ngIf="f['nroDocumento'].errors?.required">{{'El N° Documento es obligatorio' | translate }}.</div>
            <div *ngIf="f['nroDocumento'].errors?.isNotNumber">{{'El N° Documento debe ser numérico' | translate }}.</div>
          </div>
        </div>
        <button class="btn btn-primary btn-lz mt-3 mb-3" type="submit">{{ title  | translate }}</button>
        <button class="btn btn-danger btn-lz mt-3 mb-3 ml-3" type="reset" (click)="cancelarOperacion()">{{'Cancelar' | translate }}</button>
      </form>
    </div>
  </div>
</div>