<div class="row p-3 mb-3">
  <div class="col-md-12 pl-0">
    <h3>{{'Módulo de Carga de Archivos'  }}</h3>
  </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{ 'active': menu === 'productos' }" id="productos-tab" [routerLink]="['/admin/carga/productos']" aria-controls="productos" aria-selected="menu === 'productos'"><h4>{{'Productos'  }}</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{ 'active': menu === 'fotografias' }" id="fotografias-tab" [routerLink]="['/admin/carga/fotografias']" aria-controls="fotografias" aria-selected="menu === 'fotografias'"><h4>{{'Fotografías'  }}</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{ 'active': menu === 'doctecnicos' }" id="doctecnicos-tab" [routerLink]="['/admin/carga/doctecnicos']" aria-controls="doctecnicos" aria-selected="menu === 'doctecnicos'"><h4>{{'Detalle Técnico'  }}</h4></a>
  </li>
</ul>
<!-- TABLA DE CARGA DE ARCHIVOS-->
<div class="row">
    <div class="col col-lg-12 pt-3 pb-3">
      <div class="card">
        <div id="tabla" class="card-body table-responsive p-2">
        <table class="table table-hover mb-0">
          <thead>
            <tr style="background-color: #cfd8dc!important">
              <td class="text-center">N° {{'de Carga'  }}</td>
              <td class="text-center">{{'Fecha'  }}</td>
              <td class="text-center">{{'Estado'  }}</td>
              <td class="text-center">{{'Usuario'  }}</td>
              <td class="text-center">{{'Subir fotos'  }}</td>
              <td class="text-center">{{'Detalles'  }}</td>
            </tr>
          </thead>
          <tbody *ngIf="archivoCarga; else noData">
            <tr *ngFor="let archivoCargados of archivoCarga; trackBy: 0; index as i">
              <!-- identify en vez de 0 <th scope="row" class="text-center">{{i + 1}}</th>
              <td>
                  <div class="custom-control custom-radio">
                      <input type="radio" 
                              class="custom-control-input" 
                              id="radio-{{i}}" 
                              name="radio" 
                              [value]="archivoCargados.codigo"
                              [(ngModel)]="codigo"
                              style="cursor: pointer"
                              (change)="onSelectionChange(archivoCargados.codigo)">
                      <label class="custom-control-label" for="radio-{{i}}"></label>
                    </div>
              </td> -->
              <td class="text-center"><label for="radio-{{i}}" style="cursor: pointer;"><span (click)="getDetalleProduct(archivoCargados?.id_carga)" class="text_underline_button">{{archivoCargados?.id_carga }}</span></label></td>
              <td class="text-center"><label for="radio-{{i}}" style="cursor: pointer;"></label>{{archivoCargados?.fecha | date:'dd/MM/yyyy' }}</td>
              <td class="text-center"><label for="radio-{{i}}" style="cursor: pointer;"></label>{{archivoCargados?.estado  }}</td>
              <td class="text-center"><label for="radio-{{i}}" style="cursor: pointer;"></label>{{archivoCargados?.usuario }}</td>
              <td class="text-center"><label for="radio-{{i}}" style="cursor: pointer;"></label>
                <button [disabled]="btnProcesarCarga" class="btn btn-success" (click)="fileInput.click()"><i class="fa fa-cloud-upload"></i></button>
                <div class="row">
                  <div class="col col-lg-12">
                      <input style="display: none" type="file" (change)="onFileChanged($event,archivoCargados?.id_carga)" #fileInput>
                  </div>
                </div>
              </td>
              <td class="text-center"><label for="radio-{{i}}" style="cursor: pointer;"></label><i (click)="getDetalleSubidaFotos(archivoCargados?.id_carga)" class="fa fa-cloud-download detalle_button"></i></td>
            </tr>
          </tbody>
      <ng-template #noData>
        <tbody>
          <tr>
          <td colspan="7" class="text-center">{{'No se cargó correctamente la lista de archivos'  }}.</td>
          </tr>
        </tbody>
      </ng-template>
      </table>
    </div>
  </div>
</div>
<div>
  <button class="btn btn-outline-success m-5" style="display: none" id= "buttonOpenModal" (click)="openModal(info)">Abrir Modal</button>
</div>
<!--Modal for process to go up products-->
<ng-template #info let-modal>
  <div class="modal-header text_underline">
    <h4 class="modal-title">{{'Subir Fotografías'  }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="ocultarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="validArchivo" class="text-center">
      <i class="fa fa-check modalIconValid" aria-hidden="true"></i> <span class="modalText m-2">{{textModal  }}</span>
    </div>
    <div *ngIf="validArchivo" class="text-center">
      <div class="loading-bro d-inline-flex">
        <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
          <circle id="loading-inner" cx="75" cy="75" r="60"/>
        </svg>
        <span class="modalText m-2">{{textModalProcess  }} ...</span>
      </div>
    </div>
    <div *ngIf="!validArchivo" class="text-center">
      <i class=	"fa fa-exclamation-triangle modalIconInvalid" aria-hidden="true"></i> <span class="modalText m-2">{{textModal  }}</span><a class="ml-5 text_underline_button" (click)="descargarCargaError()" >{{'Ver detalle'  }}</a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="ocultarModal()">{{'Cerrar'  }}</button>
  </div>
</ng-template>