<div class="container">
  <div class="py-3 pt-5 text-left text_underline">
    <i class="icon fa fa-user"></i>
    <h2>Registro de Control de Riesgo</h2>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-1">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 pl-0">
            <!--ID-->
            <div class="col-md-12 mb-3 mt-3">
              <label for="id">ID</label>
              <input name="id" formControlName="id" type="text" class="form-control"
                id="id"
                [ngClass]="{ 'is-invalid': (registerForm.get('id').dirty || registerForm.get('id').touched || submitted) && f.id.errors }"
                placeholder="" value="" readonly>
              <div
                *ngIf="(registerForm.get('id').dirty || registerForm.get('id').touched || submitted) && f['id'].errors"
                class="invalid-feedback">
                <div *ngIf="f['id'].errors?.required"> {{'La dirección es obligatoria' | translate }}.</div>
              </div>
            </div>
            <!--Nivel de riesgo-->
            <div class="col-md-12 mb-3 mt-3">
              <label for="nivel_riesgo">Nivel de Riesgo</label>
              <select name="nivel_riesgo" formControlName="nivel_riesgo" [ngClass]="{ 'is-invalid': (registerForm.get('nivel_riesgo').dirty || registerForm.get('nivel_riesgo').touched || submitted) && f.nivel_riesgo.errors }"
                class="custom-select d-block w-100" id="nivel_riesgo" required>
                <option value="">---{{'Seleccione' | translate }}---</option>
                <option *ngFor="let p of nivelesRiesgo" [value]="p.codigo">
                  {{p.descripcion}}
                </option>
              </select>
              <div *ngIf="(registerForm.get('nivel_riesgo').dirty || registerForm.get('nivel_riesgo').touched || submitted) && f['nivel_riesgo'].errors" class="invalid-feedback">
                <div *ngIf="f['nivel_riesgo'].errors?.required">Por favor seleccione el nivel de riesgo.</div>
              </div>
            </div>
            <!--Descripcion-->
            <div class="col-md-12">
              <label for="descripcion">Descripción</label>
              <div class="mb-3 mt-3 form-group shadow-textarea">
                <textarea name="descripcion" type="textarea" formControlName="descripcion" [ngClass]="{ 'is-invalid': (registerForm.get('descripcion').dirty || registerForm.get('descripcion').touched || submitted) && f.descripcion.errors }"  class="form-control" id="descripcion" rows="3" placeholder="Detalle del producto..." maxlength="100" required></textarea>
                <div *ngIf="(registerForm.get('descripcion').dirty || registerForm.get('descripcion').touched || submitted) && f['descripcion'].errors" class="invalid-feedback">
                  <div *ngIf="f['descripcion'].errors?.required">{{'Por favor describa el control' | translate}}.</div>
                </div>
              </div>
            </div>
            <!--Nombre Contacto-->
            <!-- <div class="col-md-12 mb-3 mt-3">
                <label for="direccion">Dirección</label>
                <input name="direccion" formControlName="direccion" type="text" class="form-control"
                  id="direccion"
                  [ngClass]="{ 'is-invalid': (registerForm.get('direccion').dirty || registerForm.get('direccion').touched || submitted) && f.direccion.errors }"
                  placeholder="" value="" required>
                <div
                  *ngIf="(registerForm.get('direccion').dirty || registerForm.get('direccion').touched || submitted) && f['direccion'].errors"
                  class="invalid-feedback">
                  <div *ngIf="f['direccion'].errors?.required"> {{'La dirección es obligatoria' | translate }}.</div>
                </div>
              </div> -->
            <!--Distrito del Producto-->
            <!-- <div class="col-md-12 mb-3 mt-3">
              <label for="distrito">Distrito</label>
              <input name="distrito" formControlName="distrito" type="text" class="form-control" id="distrito"
                [ngClass]="{ 'is-invalid': (registerForm.get('distrito').dirty || registerForm.get('distrito').touched || submitted) && f.distrito.errors }"
                placeholder="" value="" required>
              <div
                *ngIf="(registerForm.get('distrito').dirty || registerForm.get('distrito').touched || submitted) && f['distrito'].errors"
                class="invalid-feedback">
                <div *ngIf="f['distrito'].errors?.required">El distrito es obligatorio.</div>
              </div>
            </div> -->
           <!--Provincia-->
           <!-- <div class="col-md-12 mb-3 mt-3">
            <label for="provincia">Provincia</label>
            <input name="provincia" formControlName="provincia" type="text" class="form-control" id="provincia"
              [ngClass]="{ 'is-invalid': (registerForm.get('provincia').dirty || registerForm.get('provincia').touched || submitted) && f.provincia.errors }"
              placeholder="" value="" required>
            <div
              *ngIf="(registerForm.get('provincia').dirty || registerForm.get('provincia').touched || submitted) && f['provincia'].errors"
              class="invalid-feedback">
              <div *ngIf="f['provincia'].errors?.required">La provincia es obligatorio.</div>
            </div>
          </div> -->
          <!--Pais-->
          <!-- <div class="col-md-12 mb-3 mt-3">
            <label for="pais">País</label>
            <input name="pais" formControlName="pais" type="text" class="form-control" id="pais"
              [ngClass]="{ 'is-invalid': (registerForm.get('pais').dirty || registerForm.get('pais').touched || submitted) && f.pais.errors }"
              placeholder="" value="" required>
            <div
              *ngIf="(registerForm.get('pais').dirty || registerForm.get('pais').touched || submitted) && f['pais'].errors"
              class="invalid-feedback">
              <div *ngIf="f['pais'].errors?.required">El país es obligatorio.</div>
            </div>
          </div> -->
          </div>        
        </div>
        <div class="row">
          <!-- <button class="btn btn-primary btn-lz mt-3 mb-3" type="submit">{{'Registrar' | translate }}</button> -->
          <button class="btn btn-danger btn-lz mt-3 mb-3" (click)="cancelarOperacion()">Regresar</button>
        </div>
      </form>
    </div>
  </div>
</div>